<ActionBar title="test">
	<StackLayout orientation="horizontal" android:horizontalAlignment="center">
		<Label text="Dodaj tankowanie - krok 2 z 2" textTransform="uppercase"></Label>
	</StackLayout>
</ActionBar>
<ScrollView>
	<Stacklayout>
		<StackLayout>
			<Label class="h3 p-8" text="Wybierz datę tankowania" textWrap="true" horizontalAlignment="center"></Label>
			<DatePicker (loaded)="this.dateService.onPickerLoadedCurrentDate($event)" (dateChange)="this.dateService.onDateChanged($event)"
			 borderWidth="2" borderColor="#757575" marginLeft="15%" marginRight="15%"></DatePicker>
		</StackLayout>
		<StackLayout>
			<TextField class="txtfield" keyboardType="phone" required [(ngModel)]="this.jsonService.counter" #elementModel1="ngModel"
			 hint="Wprowadź stan licznika"></TextField>
		</StackLayout>
		<StackLayout>
			<!-- <Label class="h3 p-8" text="Wprowadź ilość paliwa w litrach" textWrap="true" horizontalAlignment="center"></Label> -->
			<TextField class="txtfield" keyboardType="phone" required [(ngModel)]="this.jsonService.quantity" #elementModel2="ngModel"
			 hint="Wprowadź ilość paliwa w litrach"></TextField>
		</StackLayout>
		<StackLayout>
			<!-- <Label class="h3 p-8" text="Wprowadź cenę za litr paliwa" textWrap="true" horizontalAlignment="center"></Label> -->
			<TextField class="txtfield" keyboardType="phone" required [(ngModel)]="this.jsonService.price" #elementModel3="ngModel" hint="Wprowadź cenę za litr paliwa"></TextField>
		</StackLayout>
		<StackLayout>
			<!-- <Label class="h3 p-8" text="Wybierz typ płatności" textWrap="true" horizontalAlignment="center"></Label> -->
			<dd:DropDown class="drop-down-small h3 p-8 fa" hint="Wybierz typ płatności &#xF078;" required horizontalAlignment="center" [items]="this.globalService.paymentTypesList"
			 selectedIndex="1" (selectedIndexChange)="this.jsonService.selectedIndexChangedOnPaymentTypes($event)" />
		</StackLayout>
		<StackLayout>
			<!-- <Label class="h3 p-8" text="Wybierz walutę" textWrap="true" horizontalAlignment="center"></Label> -->
			<dd:DropDown required class="drop-down-small h3 p-8 fa" hint="Wybierz walutę &#xF078;" required horizontalAlignment="center"
		[items]="this.listService.currenciesList" selectedIndex="0" (selectedIndexChange)="this.jsonService.selectedIndexChangedOnCurrencies($event)"/>
		</StackLayout>
		<StackLayout>
			<AbsoluteLayout horizontalAlignment="center">
				<Label class="h3 p-8" [text]="this.jsonService.switchStateAdBlue" textWrap="true"></Label>
				<Switch class="h3 p-8" left="250" marginTop="5" checked="false" (checkedChange)="this.jsonService.onSecondChecked($event)"></Switch>
			</AbsoluteLayout>
			<StackLayout visibility="{{this.jsonService.isAdBlueCollapsed ? 'visible' : 'collapsed' }}">
				<!-- <Label class="h3 p-8" text="Wprowadź ilość adBlue w litrach" textWrap="true" horizontalAlignment="center"></Label> -->
				<TextField class="txtfield" keyboardType="phone" required [(ngModel)]="this.jsonService.adBlueQuantity" hint="Wprowadź ilość adBlue w litrach"></TextField>
			</StackLayout>
			<StackLayout visibility="{{this.jsonService.isAdBlueCollapsed ? 'visible' : 'collapsed' }}">
				<!-- <Label class="h3 p-8" text="Wprowadź cenę za litr adBlue" textWrap="true" horizontalAlignment="center"></Label> -->
				<TextField class="txtfield" keyboardType="phone" required [(ngModel)]="this.jsonService.adBluePrice" hint="Wprowadź cenę za litr adBlue"></TextField>
			</StackLayout>
		</StackLayout>

		<StackLayout>
			<AbsoluteLayout horizontalAlignment="center">
				<Label class="h3 p-8" [text]="this.jsonService.switchState" textWrap="true" marginTop="20"></Label>
				<Switch class="h3 p-8" left="250" marginTop="25" checked="false" (checkedChange)="this.jsonService.onFirstChecked($event)"></Switch>
			</AbsoluteLayout>

			<StackLayout visibility="{{ this.jsonService.isWarningNoteCollapsed ? 'visible' : 'collapsed' }}">
				<!-- <Label class="h3 p-8" text="Wprowadź ewentualną uwagę" textWrap="true" horizontalAlignment="center"></Label> -->
				<TextField class="txtfield" [(ngModel)]="this.jsonService.warningNote" hint="Wprowadź ewentualną uwagę"></TextField>
			</StackLayout>
		</StackLayout>

		<StackLayout>
			<Button class="btn btn-primary button-circle" (tap)="refuelingAdded()" text="Dodaj tankowanie" [visibility]="elementModel1.valid && elementModel2.valid && elementModel3.valid ? 'visible' : 'collapse'"
			 *ngIf="this.jsonService.isListItemsPicked()"></Button>
		</StackLayout>
	</Stacklayout>

</ScrollView>