<StackLayout>
	<Button class="btn btn-primary refresh" (tap)="getRefuelings()" text="Odśwież listę tankowań"></Button>
	<ListView [items]="refuelingsJSONfromGET" class="list-group">
		<ng-template let-i="index">
			<StackLayout class="list-group-item" orientation="horizontal">
				<GridLayout columns="*, *, *">
					<Label col="0" [text]="i + 1 +'. '+ refuelingsJSONfromGET[i].refuelingDate[2]+'.'+refuelingsJSONfromGET[i].refuelingDate[1]+'.'+refuelingsJSONfromGET[i].refuelingDate[0]"></Label>
					<Button col="1" class="circle" (tap)="showRefuelingDetails(refuelingsJSONfromGET[i])" text="Detale" ></Button>
					<Button col="2" class="circle" (tap)="getRefuelingsById(refuelingsJSONfromGET[i].id)" text="Edytuj" ></Button>
				</GridLayout>
				</StackLayout>
		</ng-template>
	</ListView>
</StackLayout>