<ScrollView>
  <StackLayout>
    <GridLayout columns="*" rows="*,*" height="160">
      <DockLayout row="0" stretch="fill" backgroundColor="white" stretchLastChild="false">

        <TextField class="txtfield shipNumb" keyboardType="phone" required [(ngModel)]="number" #elementModel="ngModel" hint="Numer lub sales order"></TextField>

        <Button class="circle" col="2" row="0" text="Znajdź" (tap)="getShipmentForDriverByNumber(number)" dock="right"></Button>
      </DockLayout>
      <DockLayout row="1" stretch="fill" backgroundColor="#f4f4f4" stretchLastChild="false">
        <Label class="label" col="0" row="0" *ngIf="isUnload===false" text="W trasie - załadunek: {{this.dateService.dateFormatForShowing(shipment[0].loadingDate)}}"></Label>
        <Label class="label" col="0" row="0" *ngIf="isUnload===true" text="Doręczona dnia {{this.dateService.dateFormatForShowing(shipment[0].unloadingDate)}}"></Label>
        <Label class="label" col="0" row="0" *ngIf="isUnload===null" text="{{infoAboutShipment}}"></Label>
    
      </DockLayout>
    </GridLayout>
    <StackLayout *ngIf="isUnload===false">
      <Label class="h3 p-8" text="Wybierz datę rozładunku/dostarczenia przesyłki" textWrap="true" horizontalAlignment="center"></Label>
      <DatePicker (loaded)="this.dateService.onPickerLoadedCurrentDate($event)" (dateChange)="this.dateService.onDateChanged($event)"
        borderWidth="2" borderColor="#757575" marginLeft="15%" marginRight="15%"></DatePicker>
      <GridLayout rows="auto auto" columns="* *" class="m-5">
        <Label class="label" text="{{firstSwitchState}} {{this.dateService.dateFormatForPost()}}" textWrap="true" row="0" col="0"></Label>
        <Switch class="m-15" checked="false" (checkedChange)="onFirstChecked($event)" row="0" col="1"></Switch>
      </GridLayout>
      <Button *ngIf="isDeliverd===true" class="btn btn-primary button-circle" col="2" row="0" text="Potwierdź datę" (tap)="updateUnloadingDate(shipment[0])"></Button>
    </StackLayout>


  </StackLayout>
</ScrollView>