.drop-down{
    text-align: center;
    padding-top: 15;
}

.fa {
    font-family: FontAwesome;
    height: 50;
  }

  .circle{  
    margin-top: 20;
    border-radius: 60;
    background-color: #06bebe;
    text-transform: capitalize;
    font-size: 20;
    height: 70;
    width: 270;
  }