<Page xmlns="http://schemas.nativescript.org/tns.xsd" loaded="pageLoaded" xmlns:dd="nativescript-drop-down">
    <GridLayout>
    <!-- <ActionBar title="Plewinski Logistics" android.icon="res://icon_small" android.iconVisibility="always">
    </ActionBar> -->
    <StackLayout class="form" [visibility]="this.globalService.loginFormVisibility ? 'visible' : 'collapse'">
        <StackLayout orientation="vertical" height="150" marginTop="75" marginBottom="40">
            <Image src="res://loginimage" stretch="none" horizontalAlignment="center" verticalAligment="center"></Image>
        </StackLayout>
        <StackLayout class="input-field">
            <!-- <Label class="h3 p-8" text="Wybierz kierowcę z listy" textWrap="true" horizontalAlignment="center"></Label> > -->
            <span text="Wybierz"></span>
            <!-- <dd:DropDown class="h3 p-8 drop-down fa" backgroundColor="#f7f7f9" color="#aaaaaa"  hint="          Wybierz kierowcę        &#xF078;"
                required [items]="this.globalService.driversList" (selectedIndexChange)="selectedIndexChanged($event)"
                 width="270" textAlignment="center"/> -->
                 <TextField required [(ngModel)]="this.userService.driverName" #elementModel="ngModel"  backgroundColor="#f7f7f9" color="#aaaaaa" width="270" height="50" fontSize="15"
                 hint="Wpisz imię i nazwisko" textAlignment="center"></TextField>
        </StackLayout>
        <StackLayout class="input-field" >
            <!-- <Label class="h3 p-8" text="Wprowadź czterocyfrowy PIN" textWrap="true" horizontalAlignment="center"></Label> -->
            <TextField keyboardType="phone" required [(ngModel)]="pin" #elementModel="ngModel"  backgroundColor="#f7f7f9" color="#aaaaaa" width="270" height="50" fontSize="15"
               hint="Podaj PIN" textAlignment="center"></TextField>
        </StackLayout>
        <StackLayout>
            <Button class="btn btn-primary circle" (tap)="login()" (tap)="tap()" text="Zaloguj się" [visibility]="elementModel.valid ? 'visible' : 'collapse'"
             ></Button>
        </StackLayout>
        <StackLayout>
        </StackLayout>
    </StackLayout>
    
    <ActivityIndicator  [busy]="this.globalService.activityIndicator" width="100" height="100" class="activity-indicator"></ActivityIndicator>
    </GridLayout>
</Page>
