<ActionBar title="test">
	<StackLayout orientation="horizontal" android:horizontalAlignment="center">
		<Label text="{{this.globalService.carAddTitle}}" textTransform="uppercase"></Label>
	</StackLayout>
</ActionBar>
<ScrollView>
	<Stacklayout>
		<!-- <StackLayout>
			<Label class="h2 p-8" text={{this.globalService.carAddTitle}} textWrap="true" horizontalAlignment="center"></Label>
		</StackLayout> -->
		<StackLayout>
			<!-- <Label class="h3 p-8" text="Wybierz pojazd" textWrap="true" horizontalAlignment="center"></Label> -->
			<dd:DropDown required class="h3 p-8 drop-down fa" hint="Wybierz pojazd &#xF078;" required horizontalAlignment="center" textAlignment="center"
			 [items]="this.listService.carsList" (selectedIndexChange)="this.jsonService.selectedIndexChangedOnCars($event)" />
			<!-- <Label class="h3 p-8" text="Wybierz przyczepę" textWrap="true" horizontalAlignment="center" [visibility]="this.globalService.isTrailersListVisible? 'visible' : 'collapse'"></Label> -->
			<dd:DropDown required class="h3 p-8 drop-down fa" hint="Wybierz przyczepę &#xF078;" required  horizontalAlignment="center"
			 [items]="this.listService.trailersList" (selectedIndexChange)="this.jsonService.selectedIndexChangedOnTrailers($event)"
			[visibility]="this.globalService.isTrailersListVisible? 'visible' : 'collapse'" />
			<Button class="btn btn-primary circle" text="Dalej" *ngIf="isCarIdPicked()" (tap)="setLinkForNextView()"></Button>
		</StackLayout>
	</Stacklayout>
</ScrollView>