<StackLayout>
	<ScrollView sdkExampleTitle sdkToggleNavButton>
		<Stacklayout>
			<StackLayout>
				<Label class="h3 p-8" text="Wybierz auto" textWrap="true" horizontalAlignment="center"></Label>
				<dd:DropDown required class="h3 p-8" hint="		Wybierz" required backgroundColor="#757575" borderRadius="10" horizontalAlignment="center"
				 color="white" [items]="this.listService.carsList" selectedIndex="{{this.listService.carsList.indexOf(this.carName)}}"
				 (selectedIndexChange)="selectedIndexChangedOnCars($event)" marginLeft="15%" marginRight="15%" />
			</StackLayout>
			<StackLayout>
					<Label class="h3 p-8" text="Wybierz dodatkową opłatę" textWrap="true" horizontalAlignment="center"></Label>
					<dd:DropDown required class="h3 p-8" hint="Wybierz" required backgroundColor="#757575" borderRadius="10" horizontalAlignment="center"
					 color="white" [items]="this.listService.additionalPaymentsNamesList"  selectedIndex="{{this.listService.additionalPaymentsNamesList.indexOf(this.paymentName)}}" (selectedIndexChange)="this.additionalPaymentService.selectedIndexChangedOnAdditionalPaymentsNames($event)" marginLeft="15%" 
					 marginRight="15%" />
			</StackLayout>
			<StackLayout>
				<Label class="h3 p-8" text="Wybierz datę opłaty" textWrap="true" horizontalAlignment="center"></Label>
				<DatePicker (loaded)="this.dateService.onPickerLoadedDateFromGETPayment($event)" (dateChange)="this.dateService.onDateChanged($event)"
				 borderWidth="2" borderColor="#757575" marginLeft="15%" marginRight="15%"></DatePicker>
			</StackLayout>
			<StackLayout>
				<Label class="h3 p-8" text="Wprowadź kwotę łączną" textWrap="true" horizontalAlignment="center"></Label>
				<TextField keyboardType="phone" required [(ngModel)]="totalPrice" #elementModel="ngModel" borderWidth="2" borderColor="#757575"
				 marginLeft="15%" marginRight="15%"></TextField>
			</StackLayout>

			<StackLayout>
				<Label class="h3 p-8" text="Wybierz typ płatności" textWrap="true" horizontalAlignment="center"></Label>
				<dd:DropDown class="h3 p-8" hint="Wybierz" required backgroundColor="#757575" borderRadius="10" horizontalAlignment="center"
				 color="white" [items]="this.globalService.paymentTypesList" selectedIndex="{{this.globalService.paymentTypesList.indexOf(this.paymentType)}}"
				 (selectedIndexChange)="selectedIndexChangedOnPaymentTypes($event)" marginLeft="15%" marginRight="15%" />
			</StackLayout>
			<StackLayout>
				<Label class="h3 p-8" text="Wybierz walutę" textWrap="true" horizontalAlignment="center"></Label>
				<dd:DropDown required class="h3 p-8" hint="Wybierz" required backgroundColor="#757575" borderRadius="10" horizontalAlignment="center"
				 color="white" [items]="this.listService.currenciesList" selectedIndex="{{this.listService.currenciesList.indexOf(this.currency)}}"
				 (selectedIndexChange)="selectedIndexChangedOnCurrencies($event)" marginLeft="15%" marginRight="15%" />
			</StackLayout>

			<ActivityIndicator *ngIf="isBusy" [busy]="isBusy" width="100" height="100" class="activity-indicator"></ActivityIndicator>
			<StackLayout>
				<Button class="btn btn-primary btn-active" (tap)="updateAdditionalPayment()" text="Zmień opłatę" [visibility]="elementModel.valid ? 'visible' : 'collapse'"></Button>
			</StackLayout>
		</Stacklayout>

	</ScrollView>
</StackLayout>