<ScrollView sdkExampleTitle sdkToggleNavButton>
    <StackLayout>
        <Label class="h3 p-8" text="Szczegóły wprowadzonego tankowania" horizontalAlignment="center"></Label>
        <Label class="h4 p-8" [text]="'Data tankowania: '+ this.refuelingService.refuelingJSONforPOST.refuelingDate" horizontalAlignment="center"></Label>
        <Label class="h4 p-8" [text]="'Stan licznika w km: ' + this.refuelingService.refuelingJSONforPOST.counter" textWrap="true"
            horizontalAlignment="center"></Label>
        <Label class="h4 p-8" [text]="'Ilośc paliwa w litrach: ' + this.refuelingService.refuelingJSONforPOST.quantity" textWrap="true"
            horizontalAlignment="center"></Label>
        <Label class="h4 p-8" [text]="'Cena za litr paliwa: ' + this.refuelingService.refuelingJSONforPOST.price" textWrap="true"
            horizontalAlignment="center"></Label>
        <Label class="h4 p-8" [text]="'Typ płatności: ' + this.refuelingService.refuelingJSONforPOST.paymentType" textWrap="true"
            horizontalAlignment="center"></Label>
        <Label class="h4 p-8" [text]="'Waluta: ' + this.listService.currenciesList[this.refuelingService.refuelingJSONforPOST.currency.id - 1]"
            textWrap="true" horizontalAlignment="center"></Label>
        <Label class="h4 p-8" [text]="'Auto: ' + this.listService.carsList[this.refuelingService.refuelingJSONforPOST.car.id - 1]"
            textWrap="true" horizontalAlignment="center"></Label>
        <Label class="h4 p-8" [text]="'Ilość AdBlue w litrach: ' + this.refuelingService.refuelingJSONforPOST.adBlueQuantity" textWrap="true"
            horizontalAlignment="center" *ngIf="this.refuelingService.refuelingJSONforPOST.adBlueQuantity !== null && this.refuelingService.refuelingJSONforPOST.adBlueQuantity !== undefined"></Label>
        <Label class="h4 p-8" [text]="'Cena za litr AdBlue: ' + this.refuelingService.refuelingJSONforPOST.adBluePrice" textWrap="true"
            horizontalAlignment="center" *ngIf="this.refuelingService.refuelingJSONforPOST.adBluePrice !== null && this.refuelingService.refuelingJSONforPOST.adBluePrice !== undefined"></Label>
        <Label class="h4 p-8" [text]="'Dodatkowe uwagi: ' + this.refuelingService.refuelingJSONforPOST.warningNote" textWrap="true"
            horizontalAlignment="center" *ngIf="this.refuelingService.refuelingJSONforPOST.warningNote !== null && this.refuelingService.refuelingJSONforPOST.warningNote !== undefined"></Label>
        <Button class="btn btn-primary btn-active" left="70" text="Powrót" [nsRouterLink]="['/navpage']"></Button>
    </StackLayout>
</ScrollView>
<!-- left="70" top="200" height="50" width="230" -->