<ActionBar title="test">
    <StackLayout orientation="horizontal" android:horizontalAlignment="center">
      <Label text="Dodaj serwis - krok 2 z 3" textTransform="uppercase"></Label>
    </StackLayout>
  </ActionBar>
  <ScrollView>
    <Stacklayout>
      <StackLayout>
        <Label class="h3 p-8" text="Wybierz datę serwisu" textWrap="true" horizontalAlignment="center"></Label>
        <DatePicker (loaded)="this.dateService.onPickerLoadedCurrentDate($event)" (dateChange)="this.dateService.onDateChanged($event)"
          borderWidth="2" borderColor="#757575" marginLeft="15%" marginRight="15%"></DatePicker>
      </StackLayout>
      <StackLayout>
        <!-- <Label class="h3 p-8" text="Wprowadź stan licznika w km" textWrap="true" horizontalAlignment="center"></Label> -->
        <TextField class="txtfield" keyboardType="phone" required [(ngModel)]="this.repairService.counter" #elementModel="ngModel" hint="Wprowadź stan licznika w km"></TextField>
      </StackLayout>
      <StackLayout>
        <StackLayout>
          <Label class="h3 p-8" text="Wybierz odbiór po serwisie lub oddanie na serwis" textWrap="true" horizontalAlignment="center"></Label>
        </StackLayout>
        <AbsoluteLayout horizontalAlignment="center">
          <Label class="h3 p-8" [text]="switchState" textWrap="true"></Label>
          <Switch class="h3 p-8" left="150" marginTop="5" checked="false" (checkedChange)="onChecked($event)"></Switch>
        </AbsoluteLayout>
      </StackLayout>
      <StackLayout>
          <Button class="btn btn-primary button-circle"  text="Dalej" [visibility]="elementModel.valid  ? 'visible' : 'collapse'" [nsRouterLink]="['/repair-2']"></Button>
        </StackLayout>

    </Stacklayout>
  </ScrollView>
