.shipNumb{
    margin-left: 25;
    width: 200;
}

.circle{  
    text-transform: capitalize;
    border-radius: 30;
    height: 28;
    background-color: #06bebe;
    font-size: 15;
    color: white;
    padding: 3;
    margin-right: 20;
    margin-top: 10;
  }

  .label{
    color: #6e6e6e;
    font-size: 16;
    vertical-align: center;
    margin-left: 30;
}

.marginInfo{
    margin-top: 15;
    margin-bottom: 15;
}

.icon{
    color:black;
    font-size: 25;
    vertical-align: center;
    padding: 20;
    width: 80;
}