.editButton {
    color: #fff;
      font-size: 10;
      background-color: rgb(29,145,201);
      text-transform: uppercase;
      padding:0;
      margin: 0;
      height: 50;
      width: 70;
  }

  .circle{  
    text-transform: capitalize;
    border-radius: 30;
    height: 28;
    background-color: #06bebe;
    font-size: 15;
    color: white;
    padding: 3;
    margin-right: 20;
  }

  .refresh{  
    border-radius: 30;
    background-color: #06bebe;
    text-transform: capitalize;
    
  }