<ScrollView sdkExampleTitle sdkToggleNavButton>
	<stackLayout>
		<Label class="h3 p-8" text="Szczegóły wprowadzonej opłaty" horizontalAlignment="center"></Label>
		<Label class="h4 p-8" [text]="'Kierowca: '+ this.additionalPaymentService.additionalPaymentJSONforPOST.driverName" horizontalAlignment="center"></Label>
		<Label class="h4 p-8" [text]="'Data opłaty: '+ this.additionalPaymentService.additionalPaymentJSONforPOST.paymentDay" horizontalAlignment="center"></Label>
		<Label class="h4 p-8" [text]="'Typ opłaty: ' + this.listService.additionalPaymentsNamesList[this.additionalPaymentService.additionalPaymentJSONforPOST.paymentName.id-1]"
		 textWrap="true" horizontalAlignment="center"></Label>
		<Label class="h4 p-8" [text]="'Kwota łączna: ' + this.additionalPaymentService.additionalPaymentJSONforPOST.totalPrice" textWrap="true"
		 horizontalAlignment="center"></Label>
		<Label class="h4 p-8" [text]="'Typ płatności: ' + this.additionalPaymentService.additionalPaymentJSONforPOST.paymentType"
		 textWrap="true" horizontalAlignment="center"></Label>
		<Label class="h4 p-8" [text]="'Waluta: ' + this.listService.currenciesList[this.additionalPaymentService.additionalPaymentJSONforPOST.currency.id - 1]"
		 textWrap="true" horizontalAlignment="center"></Label>
		<Label class="h4 p-8" [text]="'Auto: ' + this.listService.carsList[this.additionalPaymentService.additionalPaymentJSONforPOST.car.id - 1]"
		 textWrap="true" horizontalAlignment="center"></Label>
		<Button class="btn btn-primary btn-active" left="70" text="Powrót" [nsRouterLink]="['/navpage']"></Button>
	</stackLayout>
</ScrollView>