<ActionBar title="test">
		<StackLayout orientation="horizontal" android:horizontalAlignment="center">
			<Label text="Dodaj opłatę - krok 2 z 3" textTransform="uppercase"></Label>
		</StackLayout>
	</ActionBar>
<ScrollView >
	<StackLayout>
		<!-- <StackLayout>
			<Label class="h2 p-8" text="Dodaj opłatę - krok 2 z 3" textWrap="true" horizontalAlignment="center"></Label>
		</StackLayout> -->
		<!-- <Label class="h3 p-8" text="Wybierz dodatkową opłatę" textWrap="true" horizontalAlignment="center"></Label> -->
		<dd:DropDown class="h3 p-8 drop-down-big fa" required hint="Wybierz opłatę &#xF078;" required  horizontalAlignment="center" textAlignment="center"
		[items]="this.listService.additionalPaymentsNamesList" (selectedIndexChange)="this.additionalPaymentService.selectedIndexChangedOnAdditionalPaymentsNames($event)"  />
		<Button class="btn btn-primary button-circle" *ngIf="isAdditionalPaymentNamePicked()" text="Dalej" [nsRouterLink]="['/additional-payment2']"></Button>
	</StackLayout>
</ScrollView>
