<ActionBar title="test">
    <StackLayout orientation="horizontal" android:horizontalAlignment="center">
      <Label text="Dodaj serwis - krok 3 z 3" textTransform="uppercase"></Label>
    </StackLayout>
  </ActionBar>
  <ScrollView sdkExampleTitle sdkToggleNavButton>
    <Stacklayout>
      <StackLayout>
        <!-- <Label class="txtfield" text="Opis serwisu" textWrap="true" horizontalAlignment="center"></Label> -->
        <TextView  class="txtfield"  required [(ngModel)]="this.repairService.repairType" #elementModel="ngModel" hint="Opis serwisu"></TextView >
      </StackLayout>
      <StackLayout>
          <!-- <Label class="txtfield" text="Adres warsztatu" textWrap="true" horizontalAlignment="center"></Label> -->
          <TextView  class="txtfield"  required [(ngModel)]="this.repairService.carShopAddress" #elementModel2="ngModel" hint="Adres warsztatu" ></TextView >
        </StackLayout>
        <StackLayout>
 
          <TextField class="txtfield" required [(ngModel)]="this.repairService.vehicalCheck" #elementModel3="ngModel" hint="Uwagi do pojazdu"></TextField>
      </StackLayout>
      <StackLayout>
          <!-- <Label class="txtfield" text="Cena serwisu" textWrap="true" horizontalAlignment="center"></Label> -->
          <TextField class="txtfield"  keyboardType="phone" required [(ngModel)]="this.repairService.price" #elementModel1="ngModel" hint="Cena serwisu"></TextField>
      </StackLayout>

      <ActivityIndicator *ngIf="isBusy" [busy]="isBusy" width="100" height="100" class="activity-indicator"></ActivityIndicator> 
      
      <StackLayout>
          <Button class="btn btn-primary button-circle"  text="Dodaj serwis" [visibility]="elementModel.valid && elementModel1.valid && elementModel2.valid && elementModel3.valid ? 'visible' : 'collapse'" [nsRouterLink]="['/repair-2']" (tap)="addService()"></Button>
        </StackLayout>

    </Stacklayout>
  </ScrollView>
