/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';
.fa {
    font-family: FontAwesome;
    height: 50;
  }

.txtfield{
  background-color:#f7f7f9;
  color: #aaaaaa;
  width: 270;
  height: 50;
  font-size: 15;
  text-align: center;
  margin-top: 10;
}

.button-circle{
  margin-top: 20;
  border-radius: 60;
  background-color: #06bebe;
  text-transform: capitalize;
  font-size: 20;
  height: 70;
  width: 270;
}

.drop-down-small{
  padding-top: 15;
  margin-top: 10;
  text-align: center;
  background-color: #f7f7f9;
  color: #676667;
  width: 270;
}

.drop-down-big{
  text-align: center;
  padding-top: 15;
  background-color:#f7f7f9;
  color: #676667;
  width: 270;
  margin-top: 50;

}

.mdi {
  font-family: "Material Icons", "MaterialIcons-Regular";
}


